html, body{
    margin: 0;
    padding: 0;
    overflow: auto;
}

.main-content-wrapper{
    min-height: 100vh;
    padding: 10px 0;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.main-content{
    padding-bottom: 10px;
}

.circle-btn{
    border-radius: 50%;
}

.border-radius-45px{
    border-radius: 45px;
}

.margin-bottom-10px{
    margin-bottom: 10px;
}

.iconBtn{
    padding: 5px;
    margin: 3px;
}

.deleteBtn{
    color: red;
}

.deleteBtn:hover{
    border-bottom: 1px solid red;
    color: red;
}

.editBtn{
    color: blue;
}

.editBtn:hover{
    border-bottom: 1px solid blue;
    color: blue;
}

.backBtn{
    padding: 3px 4px;
    border: 1px solid blue;
    text-decoration: none;
    color: blue;
}

.backBtn:hover{
    text-decoration: none;
    background-color: #e0fffd;
}

.border-1-grey{
    border: 1px solid grey;
}

.error-message{
    color: red;
}

/* Overlay */
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50000;
    background: rgba(255,255,255,0.7);
    border-radius: 15px;
}

.overlay .spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    transform: translate(-50%, -50%);
}

/* Modal */

.modal{
    padding: 0 !important;
}

.modal-content{
    background-color: transparent;
    border: none;
}

.modal-body{
    padding: 0;
}

/* Header */

.header{
    border-bottom: 2px solid #00cc66;
    padding-bottom: 5px;
    position: relative;
}

.header .logout-container{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    padding-right: 5px;
}

.header .logout-container:hover{
    opacity: 1;
}

.header .logout-container .logoutBtn{
    color: red;
}

.header .title-container{
    padding-top: 10px;
}

.header .title-container .title{
    font-size: 24pt;
    text-shadow: 4px 5px 6px #459CA4;
    cursor: pointer;
}

.header .szechenyi-img{
    max-height: 80px;
}

.navbar-container{
    padding: 0;
    margin-bottom: 20px;
}

/* Page title */

.page-title{
    margin-bottom: 20px;
}

/* Dashboard */

.dashboard .welcome-text{
    font-size: 1.5rem;
}

/* Thesis topic indexes */

.thesisTopics-index-body{
    margin-bottom: 5px;
}

/* Thesis topics student index */

.thesisTopics-index.student-thesisTopics-index .topics-table .edit-btn{
    margin-bottom: 8px;
}

.thesisTopics-index.student-thesisTopics-index .topics-table .finalize-thesis-topic-btn{
    margin: 0 0 8px 8px;
}

.thesisTopics-index.student-thesisTopics-index .topics-table .enrcyption-doc-btn{
    margin-left: 8px;
}

.thesisTopics-index.student-thesisTopics-index .topics-table .finalizeUpoadedThesisBtn{
    margin-top: 8px;
}

/* Thesis topics internal consultant index */

.thesisTopics-index.internalConsultant-thesisTopics-index .topics-table .btn-pdf{
    margin-bottom: 8px;
}

.thesisTopics-index.internalConsultant-thesisTopics-index .topics-table .btn-delete{
    margin: 0 0 8px 8px;
}

.thesisTopics-index.internalConsultant-thesisTopics-index .topics-table .btn-accept{
    margin-bottom: 8px;
}

.thesisTopics-index.internalConsultant-thesisTopics-index .topics-table .btn-reject{
    margin: 0 0 8px 8px;
}

/* Thesis topics head of department index */

.thesisTopics-index.headOfDepartment-thesisTopics-index .topics-table .btn-pdf{
    margin-bottom: 8px;
}

.thesisTopics-index.headOfDepartment-thesisTopics-index .topics-table .btn-accept{
    margin-bottom: 8px;
}

.thesisTopics-index.headOfDepartment-thesisTopics-index .topics-table .btn-reject{
    margin: 0 0 8px 8px;
}

/* Thesis topics topic manager index */

.thesisTopics-index.topicManager-thesisTopics-index .topics-table .btn-pdf{
    margin-bottom: 8px;
}

.thesisTopics-index.topicManager-thesisTopics-index .topics-table .btn-accept{
    margin-bottom: 8px;
}

.thesisTopics-index.topicManager-thesisTopics-index .topics-table .btn-reject{
    margin: 0 0 8px 8px;
}

/* ThesisTopic exports (topic manager)*/

.thesisTopic-exports .timeInput{
    padding-bottom: 10px;
}

/* Consultations (internal consultant) and ConsultationOccasions*/

.internalConsultant-consultations-index .finalizeBtn{
    color: green;
}

.internalConsultant-consultations-index .finalizeBtn:hover{
    border-bottom: 1px solid green;
    color: green;
}

.internalConsultant-consultations-index .add-new-consultation,
.internalConsultant-consultationOccasions-index .add-new-consultationOccasion{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px;
    border: 0.5px solid green;
    margin-top: 5px;
}

.internalConsultant-consultations-index .add-btn,
.internalConsultant-consultationOccasions-index .add-btn{
    background-color: chartreuse;
    display: inline-block;
}

.internalConsultant-consultations-index .add-btn img,
.internalConsultant-consultationOccasions-index .add-btn img{
    width: 20px;
    height: 20px;
    margin: 15px;
}

/* Form modal */

.form-modal{
    background-color: transparent;
}

.form-modal .form-header{
    background-color: #4286f4;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px 0;
    border-radius: 15px 15px 0 0;
}

.form-modal .form-body{
    background-color: white;
    padding: 10px 8px;
}

.form-modal .form-body table{
    width: 100%;
}

.form-modal .form-body table td.label{
    vertical-align: top;
    padding-right: 5px;
}

.form-modal .form-footer{
    background-color: white;
    padding: 15px 0;
    border-radius: 0 0 15px 15px;
    border-top: 1px solid #28a745;
}

/*  HeadOfDepartment thesis topics details */

.headOfDepartment-thesisTopics-details .decideToContinueAfterFailedFirstThesisSubjectBtn{
    color: red;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    border: .5px solid red;
    padding: 2px;
}

.headOfDepartment-thesisTopics-details .decideToContinueAfterFailedFirstThesisSubjectBtn:hover{
    text-decoration: underline;
}

/*  Student thesis topics details */

.student-thesisTopics-details .supplements-container p{
    margin-bottom: 3px;
}