html,body{
    margin: 0;
    padding: 0;
    overflow: auto;
}

.main-content-wrapper{
    min-height: 100vh;
    padding: 10px 0;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.main-content{
    padding-bottom: 10px;
}

/* Header */

.header{
    border-bottom: 2px solid #00cc66;
    padding-bottom: 5px;
}

.header .title-container{
    padding-top: 10px;
}

.header .title-container .title{
    font-size: 24pt;
    text-shadow: 4px 5px 6px #459CA4;
    cursor: pointer;
}

.header .szechenyi-img{
    max-height: 80px;
}

.navbar-container{
    padding: 0;
    margin-bottom: 20px;
}

/* Page title */

.page-title{
    margin-bottom: 20px;
}

/* Dashboard */

.dashboard .welcome-text{
    font-size: 1.5rem;
}

/* StudentIndex (ThesisTopics) */

.student-thesisTopics-index .thesisTopic-list-container{
    margin-bottom: 5px;
}

.student-thesisTopics-index .topics-table .edit-btn{
    margin-bottom: 8px;
}

.student-thesisTopics-index .topics-table .finalize-btn{
    margin: 0 0 8px 8px;
}