@font-face {
  font-family: Calibri;
  src: url('../font/Calibri.ttf');
}

.topic-form{
    font-family: Calibri;
    font-size: 12pt;
}

.topic-form .text-justify{
    text-align: justify;
}

.topic-form .header{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.topic-form table{
    width: 100%;
}

.topic-form .data-group .title{
    text-decoration: underline;
}

.topic-form .data-group .field{
    padding-left: 6px;
    display: inline-block;
}

.topic-form .data-group.student-data{
    margin-bottom: 20px;
}

.topic-form .data-group.thesis-data{
    margin-bottom: 20px;
}

.topic-form .thesis-description{
    padding-left: 30px;
}

.topic-form .data-group.consultant-data .internal-consultant{
    margin-bottom: 20px;
}

.topic-form .no-external-consultant .description{
    padding-left: 10px;
}

.topic-form .footer{
    margin-top: 25px;
}

.topic-form .footer .signatures{
    margin-top: 60px;
}

.topic-form .footer .signatures table td{
    text-align: center;
}

.topic-form .footer .signatures .signature{
    border-top: 1px solid black;
    width: 210px;
    display: inline-block;
}